/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: var(--color-light-2, #f1b2ce);
  --prime-color: var(--color-middle-1, #db00ff);
  --base-color: var(--color-middle-2, #ff0070);
  --base-color-glassy: var(--color-middle-2-glassy, #ff007040);
  --accent-color: var(--color-middle-2, #ff0070);
  --highlight-color: var(--color-dark-1, #000028);

  --page-background-color: var(--color-dark-1, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-control-visible: visible;
}