/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-color: var(--color-dark-2, #353430);
  --accent-color: var(--color-light-4, #ff8dcb);
  --prime-color: var(--color-light-3, #ffc2e6);
  --highlight-color: var(--color-dark-2, #353430);
  --base-color: var(--color-dark-2, #353430);
  --base-color-glassy: var(--color-dark-2-glassy, #35343040);

  --page-background-color: var(--color-light-1, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");

  --rec-control-visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--color-dark-2, #353430);
    --accent-color: var(--color-light-4, #ff8dcb);
    --prime-color: var(--color-light-3, #ffc2e6);
    --highlight-color: var(--color-dark-2, #353430);
    --base-color: var(--color-dark-2, #353430);
    --base-color-glassy: var(--color-dark-2-glassy, #35343040);

    --page-background-color: var(--color-light-1, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");

    --rec-control-visible: hidden;
  }
}