/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  color: var(--text-color, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--page-background-color, #000028);
  background-image: var(--page-background-image, url("../images/cover-image.png"));
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.shadow-text-header {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

.shadow-text-footer {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.shadow-text-link {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.cover {
  display: grid;
  padding: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  min-block-size: 100vh;
}

.header {
   align-items: start;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--base-color, #ff0070);
  border-block-start: 1px solid var(--base-color, #ff0070);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--base-color, #ff0070);
  border-block-end: 1px solid var(--base-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone__text {
  position: absolute;
  color: var(--accent-color, #ff0070);
  visibility: var(--rec-control-visible, visible);
  line-height: 24px;
  text-transform: uppercase;
  top: calc(5px + 1.2vw);
  right: calc(10px + 1.2vh);
}

.decorated-zone__text::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px;
  color: var(--base-color, #ff0070);
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border-color: var(--base-color-glassy, #ff007040);
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.page__title {
  color: var(--prime-color, #db00ff);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

.page__description {
  margin-block: 55px;
  color: var(--highlight-color, #000028);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  background: var(--accent-color, #ff0070);
}

.main {
  display: grid;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.article-link {
  text-decoration: none;
}

.article-link:hover {
  text-decoration: underline;
}

.article-link:focus {
  outline: 0;
}

.article-link:focus-visible {
  outline: 1px solid currentColor;
}

.section-actions__title {
  margin-block-end: 20px;
}

.section-actions-gallery {
   gap: 10px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  display: grid;
  gap: 10px;
}

.title {
  color: var(--base-color, #ff0070);
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
}

.title-decor {
  color: var(--highlight-color, #000028);
  background: var(--accent-color, #ff0070);
}

.title-actions {
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}

.footer {
  place-items: center;
}

/*@media*/
@media (width >= 425px) {

   .decorated-zone__text {
      top: calc(10px + 1vw);
      right: calc(15px + 1.3vh);
   }

}

@media (width >= 768px) {

 .decorated-zone__text {
   top: 20px;
   right: 30px;
 }

  .page__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section {
    grid-template-columns: clamp(236px, calc(100% / 3.25), 315px) 1fr;
  }

  .section-factors__articles-list {
     grid-column-start: span 2;
  }

  .section-actions-gallery {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .section-actions__articles-list {
    margin-block-start: 20px;
    grid-column-start: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "i1 i1 i2"
    "i3 i4 i2"
    "i3 i5 i5";
    gap: 20px;
  }

  .gallery__item-sunset {
    grid-area: i1;
   }

   .gallery__item-street {
    grid-area: i5;
   }

  .gallery__item-ice {
    grid-area: i2;
  }

  .gallery__item-tape {
    grid-area: i3;
  }

  .gallery__item-books {
    grid-area: i4;
  }

  .header {
    padding-inline-start: 0;
  }

  .header__theme-menu {
    margin-block-start: 170px;
    margin-block-end: 70px;
  }

  .page__description {
    justify-self: end;
    inline-size: clamp(364px, calc(100% / 2 - 10px), 491px);
  }

  .main {
    gap: 80px;
    padding: 60px 20px;
  }

} /*@media (width >= 768px*/

@media (width >= 1024px) {

  .section {
    column-gap: 30px;
  }

  .section-factors__articles-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    justify-self: center;
    margin-inline-start: 20px;
    margin-block-start: 0;
    margin-block-end: 215px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

} /*@media (width >= 1024px*/